.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: hotpink;
  padding: 10px;
}

.grid-container > div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-column: 1;
  grid-row: 1/span 7;
    
}

.item2 {
  grid-column: 2;
 
}

.item3 {
  grid-column: 2;

}
.item4 {
  grid-column: 2;
}
.item5 {
  grid-column: 2;
}

.item6 {
  grid-column: 2;
 
}

.item7 {
  grid-column: 2;
}
.item8 {
  grid-column: 2;
}
.item9 {
  grid-column: 3;
  grid-row:1/span 7
}

.item10 {
  grid-column: 4/ span 2;
  grid-row:1/ span 2;
 
}

.item11 {
  grid-column: 4;
  grid-row:3
}
.item12{
  grid-column: 4;
  grid-row:4
}
.item13{
  grid-column: 4;
  grid-row:5/span 2;
}
.item14{
  grid-column: 4;
}
.item15{
  grid-column: 5;
  grid-row:3/span 5;
}
.item16{
  grid-column: 6;
  grid-row:1;
}
.item17{
  grid-column: 6/ span 2;
  grid-row:2/span 2
}.item18{
  grid-column: 6;
  grid-row:4
}
.item19{
  grid-column: 6;
  grid-row:5
}
.item20{
  grid-column: 6/span 2;
  grid-row:6;
}
.item21{
  grid-column: 6;
  grid-row:7
}
.item22{
  grid-column: 7;
  grid-row:1
}
.item23{
  grid-column: 7;
  grid-row:4
}
.item24{
  grid-column: 7;
  grid-row:5
}
.item25{
  grid-column: 7;
  grid-row:7
}