

 {
  border-radius: 8px;
}

 


 {
  border-radius: 50%;
   width:100 height:100
}

img {
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height:100px;
 
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



<style> 
body {
 
  padding: 15px;
}
</style>

<style>
h1 {
  text-shadow: 2px 2px;
}
</style>

<h1>Text-shadow effect!</h1>




The border-image property is a shorthand property for the following properties:
border-image-source - defines the path to the image
border-image-slice - defines how to slice the image
border-image-width - defines the width of the image
border-image-outset defines the amount by which the border image area extends beyond the border box
border-image-repeat - defines how to repeat the image
<style> 
p{ 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}
</style>

<style> 
p{ 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 stretch;
}
</style>

<style>
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

