
body{
background-color:red;
     color: blue;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.red {
   color: blue;



   }

 .orange {
   background-color: blue;
   color: red;
   border: 5px outset #345f11;
   border-right-color: transparent;





 }

 .yellow {
   background-image: url("sunflower.png");
   height: 150px;
   width: 100%;
   border: 5px outset orangered;
   font-size: 30px;
   

}




 .green {
   margin: 30px;
   padding: 10px;
   background-color: #61dbac;
   color: red;
   border-radius: 15px;
   border: solid 0.3em gold;
   border-right-color: red;
   width: auto;

}



 .red {
   background-color: red;
   color: #647baf;
   border: 5px outset #345f11;
   border-right-color: transparent;

 }

 .orange {
   background-image: url("sunflower.png");
   height: 150px;
   width: 100%;
   border: 5px outset orangered;
   font-size: 15px;
 


 }


