
body{
background-color:light lawngreen;
     color: greenyellow;
}

.red {
   color: greenyellow;



   }

 .orange {
   background-color: lawngreen;
   color: lightgreen;
   border: 5px outset #345f11;
   border-right-color: transparent;





 }

 .yellow {
   background-image: url("sunflower.png");
   height: 150px;
   width: 100%;
   border: 5px outset orangered;
   font-size: 30px;
   

}




 .green {
   margin: 30px;
   padding: 10px;
   background-color: #61dbac;
   color: lawngreen;
   border-radius: 15px;
   border: solid 0.3em gold;
   border-right-color: red;
   width: auto;

}



 .red {
   background-color: lawngreen;
   color: #647baf;
   border: 5px outset #345f11;
   border-right-color: transparent;

 }

 .orange {
   background-image: url("sunflower.png");
   height: 150px;
   width: 100%;
   border: 5px outset orangered;
   font-size: 15px;
 


 }


