
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;

  padding: 10px;
}

.grid-container > div {

  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-column: 1 ;
}

.item2 {

  grid-row: 2 / span 2
}

.item3 {
  
grid-row: 4 ;

}

.item4 {
  
grid-row: 6 ;

}
